section{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}
.card{
    box-sizing: border-box;
    width: 32%;
    padding: 10px;
    border-radius: 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 10px;
}
.card-title{
    padding: 10px;
    font-weight: 600;
}
.card-body{
    padding: 10px;
}
.bt{
    border-top: 3px solid orchid;
}
.btn{
    margin-top: 10px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.btn a{
    padding: 10px 25px;
    background: orange;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
}
@media (max-width:955px){
    .btn{
        flex-wrap: wrap;
    }
    .btn a{
        margin-top: 10px;
    }
}

@media (max-width:900px) {
    body{
        background-color: rgb(187, 187, 186);
    }
    .container{
        flex-wrap: wrap;
        width: 90%;
    }
    .card{
        width: 49%;
    }
}
@media (max-width:700px) {  
    .container{
        width: 97%;
    } 
    .card{
        width: 100%;
    }
    .btn{
        display: none;
    }

}